In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [2]:
train_data=pd.read_csv('train.csv')
train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
test_data=pd.read_csv('test.csv')
test_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [6]:
# train_data=train_data.drop(columns=['HomePlanet','CryoSleep','Cabin','Destination','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','Name'])

In [7]:
y=train_data[['PassengerId','Transported']]

In [8]:
features = ['PassengerId', 'Transported']

In [9]:
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [10]:
# def fillNaObjMode(cols):
#     for i in cols:
#         train_data[i] = train_data[i].fillna(train_data[i].mode()[0])

# columns = ['PassengerId','Transported']
# fillNaObjMode(columns)

In [11]:
# def dataEncoder(cols):
#     for i in cols:
#         dataLabelEncoder = LabelEncoder()
#         train_data[i] = dataLabelEncoder.fit_transform(train_data[i])

# columns = ['PassengerId']
# dataEncoder(columns)

In [12]:
#train_data['Transported'] = train_data['Transported'].astype('int64')

In [13]:
x=train_data[features]

In [14]:
x.describe()

       PassengerId Transported
count         8693        8693
unique        8693           2
top        0001_01        True
freq             1        4378

In [15]:
transported = train_data['Transported']
test_data['Transported'] = transported
print(test_data.head())

  PassengerId HomePlanet CryoSleep  Cabin  Destination   Age    VIP  \
0     0013_01      Earth      True  G/3/S  TRAPPIST-1e  27.0  False
1     0018_01      Earth     False  F/4/S  TRAPPIST-1e  19.0  False
2     0019_01     Europa      True  C/0/S  55 Cancri e  31.0  False
3     0021_01     Europa     False  C/1/S  TRAPPIST-1e  38.0  False
4     0023_01      Earth     False  F/5/S  TRAPPIST-1e  20.0  False

   RoomService  FoodCourt  ShoppingMall     Spa  VRDeck              Name  \
0          0.0        0.0           0.0     0.0     0.0   Nelly Carsoning
1          0.0        9.0           0.0  2823.0     0.0    Lerome Peckers
2          0.0        0.0           0.0     0.0     0.0   Sabih Unhearfus
3          0.0     6652.0           0.0   181.0   585.0  Meratz Caltilter
4         10.0        0.0         635.0     0.0     0.0   Brence Harperez

   Transported
0        False
1         True
2        False
3        False
4         True

In [16]:
def dataEncoder(cols):
    for i in cols:
        dataLabelEncoder = LabelEncoder()
        test_data[i] = dataLabelEncoder.fit_transform(test_data[i])

columns = ['Transported']
dataEncoder(columns)

In [17]:
y = train_data['Transported'].values

In [18]:
y = train_data['Transported']

In [19]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  8693 non-null   object
 1   Transported  8693 non-null   bool
dtypes: bool(1), object(1)
memory usage: 76.5+ KB

In [21]:
model_svc = SVC()
model_svc.fit(x, y)

print(model_svc)

#Random_Forest=RandomForestClassifier()
#Random_Forest.fit(x,y)
#print()

SVC()

In [22]:
features_test = ['PassengerId','Transported']

In [23]:
# def dataEncoder(cols):
#     for i in cols:
#         dataLabelEncoder = LabelEncoder()
#         test_data[i] = dataLabelEncoder.fit_transform(test_data[i])

# columns = ['Transported']
# dataEncoder(columns)

In [24]:
# test_data['Transported'] = test_data['Transported'].astype('int64')

In [25]:
features_test = ['PassengerId', 'Transported']

In [26]:
i=test_data[features_test]

In [27]:
df = pd.DataFrame(i)

# Save the DataFrame as a new CSV file
df.to_csv(r'test88.csv', index=False, header=True)

print("New CSV file created successfully!")

New CSV file created successfully!

In [28]:
test10_data=pd.read_csv('test88.csv')

In [29]:
model_predictions = model_svc.predict(test10_data)

In [30]:
m=pd.read_csv("test88.csv")
m

     PassengerId  Transported
0        0013_01            0
1        0018_01            1
2        0019_01            0
3        0021_01            0
4        0023_01            1
...          ...          ...
4272     9266_02            0
4273     9269_01            1
4274     9271_01            1
4275     9273_01            0
4276     9277_01            0

[4277 rows x 2 columns]

In [31]:
submission0=pd.DataFrame({'PassengerId':m['PassengerId'],'Transported':model_predictions})
submission0.to_csv('submission0.csv',index=False)
print("submission successfully")

submission successfully